h1{
    color:#04ADBF;
    font-size: 72px;
}

h2{
    color:#04ADBF;
}

h3{
    color:#0388A6;
}

hr{
    color:#023059
}

body{
    background-color: #020540;
    color:#F2EEEB;
    font-family: 'Ibarra Real Nova', serif;
}